<%- include('../partials/header') %>

<!-- logs/index.ejs -->

<div class="container">
  <h2>Exercise Logs</h2>

  <!-- New Workout Log Button -->
  <a href="/logs/new" class="btn btn-primary mb-3">New Workout Log</a>

  <% if (usersWithLogs.length === 0) { %>
    <p>No logs found.</p>
  <% } else { %>
    <% usersWithLogs.forEach(user => { %>
      <ul class="list-group mb-4">
        <% user.exercise.sort((a, b) => b.date - a.date).forEach(logEntry => { %>
          <li class="list-group-item">
            <strong>Date:</strong> <%= logEntry.date.toLocaleDateString('en-US') %><br>
            <strong>Exercise:</strong> <%= logEntry.exerciseType %><br>
            <strong>Exercise Time:</strong> <%= logEntry.exerciseTime %> (minutes)<br>
            <strong>Note:</strong> <%= logEntry.exerciseNotes %><br>
            <strong>ID:</strong> <%= logEntry._id %><br>

            <a href="/logs/<%= logEntry._id %>" class="btn btn-info">DETAILS</a>
          </li>
        <% }); %>
      </ul>
    <% }); %>
  <% } %>
</div>

<%- include('../partials/footer') %>