<%- include('../partials/header') %>

<!-- logs/index.ejs -->

<html>
<head>
    <title><%= title %></title>
</head>
<body>
  <a href="/logs/new">New Log</a>

    <% if (usersWithLogs.length === 0) { %>
        <p>No logs found.</p>
    <% } else { %>
        <% usersWithLogs.forEach(user => { %>
            <ul>
                <% user.exercise.forEach(logEntry => { %>
                    <li>
                        Date: <%= logEntry.date.toLocaleDateString('en-GB') %><br>
                        
                        Exercise: <%= logEntry.exerciseType %><br>
                        Duration: <%= logEntry.exerciseTime %><br>
                        Note: <%= logEntry.exerciseNotes %><br>
                        ID: <%= logEntry._id %><br>
        
                        
                        <a href="/logs/<%= logEntry._id %>">DETAILS</a>
                        
                        <!-- Add any other log properties you want to display -->
                        <form action="/logs/<%= logEntry._id %>?_method=delete" method="POST" style="display: inline;">
                          <input type="hidden"  value="delete">
                          <button type="submit">Delete</button>
                        </form>

                        <a href="/logs/<%= logEntry._id %>/edit">EDIT</a>

                        
                        
                       

                        
                    </li>
                <% }); %>
            </ul>
        <% }); %>
    <% } %>
</body>
</html>
  
<%- include('../partials/footer') %>
