<%- include('../partials/header') %>


<p>Hello <%= user %></p>

<h2>User Logs</h2>
<% if (user.exercise.length === 0) { %>
  <p>No logs found.</p>
<% } else { %>
  <% user.exercise.forEach(logEntry => { %>
    <div>
      <% if (logEntry.date) { %>
        <h3>Exercise Date: <%= logEntry.date.toLocaleDateString('en-GB') %></h3>
      <% } else { %>
        <p>Exercise Date: Date not available</p>
      <% } %>
      <p>Exercise Type: <%= logEntry.exerciseType %></p>
      <p>Exercise Notes: <%= logEntry.exerciseNotes %></p>
      <p>Exercise Time (minutes): <%= logEntry.exerciseTime %></p>
      <!-- Add any other log properties you want to display -->

      <form action="/logs/<%= logEntry._id %>?_method=delete" method="POST" style="display: inline;">
        <input type="hidden"  value="delete">
        <button type="submit">Delete</button>
      </form>
      
    </div>
    <hr>
  <% }); %>
<% } %>

<%- include('../partials/footer') %>