<%- include('../partials/header') %>

<div class="container">
  <% if (!logEntry) { %>
    <p>Exercise not found.</p>
  <% } else { %>
    <div>
      <h3>Exercise Date: <%= logEntry.date.toLocaleDateString('en-GB') %></h3>
      <p>Exercise Type: <%= logEntry.exerciseType %></p>
      <p>Exercise Notes: <%= logEntry.exerciseNotes %></p>
      <p>Exercise Time: <%= logEntry.exerciseTime %> (minutes)</p>
      <!-- Add any other log properties you want to display -->
    </div>

    <!-- Delete Button -->
    <form action="/logs/<%= logEntry._id %>?_method=delete" method="POST" class="d-inline">
      <input type="hidden" name="_method" value="DELETE">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>

    <!-- Edit Button -->
    <a href="/logs/<%= logEntry._id %>/edit" class="btn btn-primary">Edit</a>
  <% } %>
</div>

<%- include('../partials/footer') %>